<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDJvsct4yGm5HnRRImat1KR9IpQWFBeIBM</string>
	<key>GCM_SENDER_ID</key>
	<string>1015442848346</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.apartmaint</string>
	<key>PROJECT_ID</key>
	<string>apartmaint-95d1f</string>
	<key>STORAGE_BUCKET</key>
	<string>apartmaint-95d1f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1015442848346:ios:86f35760c3ced27d063663</string>
	<key>DATABASE_URL</key>
	<string>https://apartmaint-95d1f-default-rtdb.firebaseio.com</string>
</dict>
</plist>